  .site-header {
      padding-top: 23px;
      padding-bottom: 24px;
      background-color: #2B3844;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  }
  .site-header__wrraper {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
  }
  .site-header__head {
      margin: 0;
      font-weight: 800;
      font-size: 24px;
      line-height: 33px;
  }
  .site-header__page {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #fff;
      background-color: transparent;
      border: none;
  }